<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ymyz.admin.mapper.ImageTMapper">
    
    <resultMap type="com.ymyz.admin.entity.ImageT" id="ImageTResult">
        <result property="imageId"    column="image_id"    />
        <result property="imageName"    column="image_name"    />
        <result property="imageFormat"    column="image_format"    />
        <result property="imageType"    column="image_type"    />
        <result property="imageAuthor"    column="image_author"    />
        <result property="imageFile"    column="image_file"    />
        <result property="imageDel"    column="image_del"    />
        <result property="createName"    column="create_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateName"    column="update_name"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectImageTVo">
        select image_id, image_name, image_format, image_type, image_author, image_file, image_del, create_name, create_time, update_name, update_time from image_t
    </sql>

    <select id="selectImageTList" parameterType="ImageT" resultMap="ImageTResult">
        <include refid="selectImageTVo"/>
        <where>  
            <if test="imageName != null  and imageName != ''"> and image_name like concat('%', #{imageName}, '%')</if>
            <if test="imageFormat != null "> and image_format = #{imageFormat}</if>
            <if test="imageType != null "> and image_type = #{imageType}</if>
            <if test="imageAuthor != null  and imageAuthor != ''"> and image_author = #{imageAuthor}</if>
            <if test="imageFile != null  and imageFile != ''"> and image_file = #{imageFile}</if>
            <if test="imageDel != null "> and image_del = #{imageDel}</if>
            <if test="createName != null  and createName != ''"> and create_name like concat('%', #{createName}, '%')</if>
            <if test="updateName != null  and updateName != ''"> and update_name like concat('%', #{updateName}, '%')</if>
        </where>
    </select>
    
    <select id="selectImageTByImageId" parameterType="Long" resultMap="ImageTResult">
        <include refid="selectImageTVo"/>
        where image_id = #{imageId}
    </select>
        
    <insert id="insertImageT" parameterType="ImageT" useGeneratedKeys="true" keyProperty="imageId">
        insert into image_t
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="imageName != null and imageName != ''">image_name,</if>
            <if test="imageFormat != null">image_format,</if>
            <if test="imageType != null">image_type,</if>
            <if test="imageAuthor != null">image_author,</if>
            <if test="imageFile != null">image_file,</if>
            <if test="imageDel != null">image_del,</if>
            <if test="createName != null">create_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateName != null">update_name,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="imageName != null and imageName != ''">#{imageName},</if>
            <if test="imageFormat != null">#{imageFormat},</if>
            <if test="imageType != null">#{imageType},</if>
            <if test="imageAuthor != null">#{imageAuthor},</if>
            <if test="imageFile != null">#{imageFile},</if>
            <if test="imageDel != null">#{imageDel},</if>
            <if test="createName != null">#{createName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateName != null">#{updateName},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateImageT" parameterType="ImageT">
        update image_t
        <trim prefix="SET" suffixOverrides=",">
            <if test="imageName != null and imageName != ''">image_name = #{imageName},</if>
            <if test="imageFormat != null">image_format = #{imageFormat},</if>
            <if test="imageType != null">image_type = #{imageType},</if>
            <if test="imageAuthor != null">image_author = #{imageAuthor},</if>
            <if test="imageFile != null">image_file = #{imageFile},</if>
            <if test="imageDel != null">image_del = #{imageDel},</if>
            <if test="createName != null">create_name = #{createName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateName != null">update_name = #{updateName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where image_id = #{imageId}
    </update>

    <delete id="deleteImageTByImageId" parameterType="Long">
        delete from image_t where image_id = #{imageId}
    </delete>

    <delete id="deleteImageTByImageIds" parameterType="String">
        delete from image_t where image_id in 
        <foreach item="imageId" collection="array" open="(" separator="," close=")">
            #{imageId}
        </foreach>
    </delete>
</mapper>